html {
    font-size: 100%; /*16px*/
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* 
img {
    width: 100%;
    max-width: 100%;
} */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #48353a;
}

header {
    padding: 0.6rem 1rem;
    overflow: hidden;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 0.2rem;
}

header nav a {
    color: #48353a;
    text-decoration: none;
    margin-left: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
}

h2 {
    font-family: 'David Libre', serif;
}

.hero {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    padding-top: 14.8rem;
    padding-bottom: 12.8rem;
    background-position: right center;
}

.hero div {
    max-width: 33.7rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: center;
}

.hero h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
}

.hero p {
    max-width: 25rem;
    margin-right: auto;
    margin-left: auto;
    font-weight: 300;
}

.flowers {
    overflow: hidden;
}

.flowers img {
    float: left;
    width: 33.333%;
}

.quotes {
    overflow: hidden;
}

.quotes div {
    float: left;
    width: 50%;
    text-align: center;
    padding: 3.1rem 1.25rem 2.5rem 1.25rem;
}

.first-quote {
    background-color: #f6f6f8;
}

.quotes img {
    width: 4.7rem;
    border-radius: 100%;
}

.quotes blockquote {
    font-family: 'David Libre', serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.15;
    max-width: 25rem;
    margin: 1rem auto 0.3rem auto;
}

.quotes p {
    font-weight: 300;
}